@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;

  --color-primary: #dc2626; /* rouge principal */
  --color-primary-dark: #b91c1c; /* rouge foncé */
  --color-secondary: #1f2937; /* gris foncé */
  --color-background: #f9fafb; /* fond clair */
  --color-surface: #ffffff; /* cartes / sections */
  --color-text: #111827; /* texte principal */
  --color-muted: #6b7280; /* texte secondaire */
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
span {
  font-family: "Lato", sans-serif;
}
h1{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
button {
  border-radius: 8px;
  padding-block: 0.75rem;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--color-surface);
  }
}