@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #dc2626; /* rouge principal */
  --color-primary-dark: #b91c1c; /* rouge foncé */
  --color-secondary: #1f2937; /* gris foncé */
  --color-background: #f9fafb; /* fond clair */
  --color-surface: #ffffff; /* cartes / sections */
  --color-text: #111827; /* texte principal */
  --color-muted: #6b7280; /* texte secondaire */
}

.dark {
  --color-primary: #ef4444;
  --color-primary-dark: #dc2626;
  --color-secondary: #e5e7eb;
  --color-background: #0f172a;
  --color-surface: #111827;
  --color-text: #f9fafb;
  --color-muted: #9ca3af;
}

html {
  scroll-behavior: smooth;
}
* {
  transition: all 0.3s ease-in-out;
}
a {
  font-weight: 500;
}

input,
textarea {
  color: var(--color-text);
}
input::placeholder,
textarea::placeholder {
  color: var(--color-muted);
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
span {
  font-family: "Lato", sans-serif;
}
h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
button {
  cursor: pointer;
  outline: none;
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--color-surface);
  }
}
